<!-- T导航栏 -->
<header class="i_header">
    <div class="div_nav">
        <nav class="wh">
            <a href="">
                <img src="/static/images/index/logo.png"/>
            </a>
            <ul>
                <li class="cur">
                    <a href="/index">首页</a>
                </li>
                <li>
                    <a href="/teacher">师资团队</a>
                </li>
                <li>
                    <a href="">学员就业</a>
                </li>
                <li>
                    <a href="">在线视频</a>
                </li>
                <li>
                    <a href="">开源软件</a>
                </li>
                <li>
                    <a href="">常见问题</a>
                </li>
                <li>
                    <a href="">关于我们</a>
                </li>
            </ul>
        </nav>
    </div>
</header>