<!-- 校园生活的内容 -->
        <div class="school-life">
            <img class="school-life-img" style="width:110px;height:120px;" src="/static/images/index/s1.jpg"/>
            <img class="school-life-img" style="width:110px;height:120px;" src="/static/images/index/s2.jpg"/>
            <img class="school-life-img" style="width:110px;height:120px;" src="/static/images/index/s3.jpg"/>
            <img class="school-life-img" style="width:110px;height:120px;" src="/static/images/index/s4.jpg"/>
            <img class="school-life-img" style="width:110px;height:120px;" src="/static/images/index/s1.jpg"/>
            <img class="school-life-img" style="width:110px;height:120px;" src="/static/images/index/s4.jpg"/>
            <img class="school-life-img" style="width:110px;height:120px;" src="/static/images/index/s2.jpg"/>
        </div>